body {
	background-color: #ebebeb;
	background-size: cover;
}

h1 {
	font-family: "Trebuchet MS", Geneva, sans-serif;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #fefefe !important;
}

.jumbotron  {
	background-color: #2b8eaa;
}

.capes {
	display: vertical-align;
	position: center;
}

.dragon {
	display: vertical-align;
}

.firecape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.questcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.achievementcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.musiccape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.maxcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.dragonfullhelm {
	opacity: 0.4;
	padding-left:1.5%;
	padding-right:1.5%;
}

.dragonchainbody {
	opacity: 0.4;
	padding-left:1.5%;
	padding-right:1.5%;
}

.dragonplatelegs {
	opacity: 0.4;
	padding-left:1.5%;
	padding-right:1.5%;
}

.dragonplateskirt {
	opacity: 0.4;
	padding-left:1.5%;
	padding-right:1.5%;
}

.dragonsqshield {
	opacity: 0.4;
	padding-left:1.5%;
	padding-right:1.5%;
}

.dragon2hsword {
	opacity: 0.4;
	padding-left:0.8%;
	padding-right:0.8%;
}

.dragonspear {
	opacity: 0.4;
	padding-left:1%;
	padding-right:1%;
}

.dragonwarhammer {
	opacity: 0.4;
	padding-left:1%;
	padding-right:1.5%;
}

.dragonpickaxe {
	opacity: 0.4;
	padding-left:1%;
	padding-right:1%;
}

.dragonaxe {
	opacity: 0.4;
	padding-left:0.8%;
	padding-right:1.5%;
}