body {
	background-color: #ebebeb;
	background-size: cover;
}

h1 {
	font-family: "Trebuchet MS", Geneva, sans-serif;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #fefefe !important;
}

.row {
	padding-bottom: 3%;
}

.jumbotron  {
	background-color: #2b8eaa;
}

.capes {
	display: vertical-align;
	position: center;
}

.dragon {
	display: vertical-align;
}

.firecape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.questcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.achievementcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.musiccape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.maxcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.dragonfullhelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonchainbody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonplatelegs {
	opacity: 0.4;
	padding-left:5%;
	padding-right:6%;
	padding-bottom:2%;
}

.dragonplateskirt {
	opacity: 0.4;
	padding-left:2%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonsqshield {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragon2hsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonspear {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonwarhammer {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragondefender {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.dragonpickaxe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.dragonaxe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.berserkerring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.seersring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.archersring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.warriorring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.seercull {
	opacity: 0.4;
	padding-left:1%;
	padding-right:3%;
}

.mudbattlestaff {
	opacity: 0.4;
	padding-left:3%;
	padding-right:1%;
}

.treasonousring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:8%;
}

.tyrannicalring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:8%;
}

.ringofthegods {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.voidrange {
	opacity: 0.4;
	padding-left:3%;
	padding-right:4%;
	padding-bottom:2%;
}

.voidmelee {
	opacity: 0.4;
	padding-left:1%;
	padding-right:5%;
	margin-right: 3%;
	padding-bottom:2%;
}

.voidmage {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	border-right: 3%;
	padding-bottom:2%;
}

.voidtop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.voidelitetop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.voidmace {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.voidrobe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.voideliterobe {
	opacity: 0.4;
	padding-left:6%;
	padding-right:6%;
}

.voidknightgloves {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
}

.gracefulhood {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gracefulcape {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gracefultop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gracefulgloves {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gracefullegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gracefulboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.ahrimshood {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dharokshelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.guthanshelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.karilscoif {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.toragshelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.veracshelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.ahrimsrobetop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dharoksplatebody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.guthansplatebody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.karilsleathertop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.toragsplatebody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.veracsbrassard {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.ahrimsrobeskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dharoksplatelegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.guthanschainskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.karilsleatherskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.toragsplatelegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.veracsplateskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.ahrimsstaff {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dharoksgreataxe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.guthanswarspear {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.karilscrossbow {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.toragshammers {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.veracsflail {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.abbysalbludgeon {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.abbysaldagger {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.abbysalwhip {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.darkbow {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.tridentoftheseas {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.occultnecklace {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.slayerhelmet {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.slayerring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.broadbolts {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.herbsack {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.amuletoffury {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.berserkernecklace {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.onyxring {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.regenbracelet {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.unholybook {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.holybook {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bookofbalance {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bookofdarkness {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bookoflaw {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bookofwar {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.robinhoodhat {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.rangerstunic {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.holysandals {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.wizardboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.rangerboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.infinityboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.primordialboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.pegasianboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.eternalboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.toxicblowpipe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.magicfang {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.serpentinehelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.tanzanitehelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.magmahelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bandosgodsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bandoschestplate {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bandostassets {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bandosboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.zamorakgodsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.zamorakianhasta {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.zamorakianspear {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.staffofthedead {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.steambattlestaff {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.saradomingodsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.saradominsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.armadylcrossbow {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.saradominslight {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.armadylgodsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.armadylhelmet {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.armadylchestplate {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.armadylchainskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.elysian {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.arcane {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.spectral {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.odiumward {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.maledictionward {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonfireshield {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.infinityhat {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.infinitytop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.infinitybottoms {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.infinitygloves {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.masterwand {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.magesbook {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.bonestopeaches {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdamagehat {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarobetop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarobe {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdaamulet {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdawand {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarangecoif {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarangetop {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarangelegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdarangevambraces {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdabow {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdafullhelmet {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdaplatebody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdaplatelegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdakiteshield {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdalongsword {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedfullhelm {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedplatebody {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedplatelegs {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedplateskirt {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedscimitar {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedboots {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.gildedkiteshield {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.thirdacloak {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.lavadragonmask {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.furyornamentkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.darkinfinitycolourkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.lightinfinitycolourkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonchainbodyornamentkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonfullhelmornamentkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonplateskirtornamentkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}

.dragonsqshieldornamentkit {
	opacity: 0.4;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
}