body {
	background-color: #B6A27A;
	background-size: cover;
}

h1 {
	/*font-family: "Trebuchet MS", Geneva, sans-serif;*/
	font-size: 3rem;
	display: flex;
	justify-content: center;
}

.firecape {
	opacity: 0.4;
	padding-left: 20%;
	padding-right: 1%;
}

.questcape {
	opacity: 0.4;
	padding-right: 1%;
}

.achievementcape {
	opacity: 0.4;
	padding-right: 1%;
}

.maxcape {
	opacity: 0.4;
	padding-right: 1%;
}